* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: cursive;
}

body {
    padding: 20px;
}

h1 {
    font-size: 175%;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

table { border-collapse: collapse; border-spacing: 0; }

#evaluated {
    color: #999;
}

.board {
    float: left;
    font-size: 250%;
    font-weight: bold;
    margin-right: 40px;
}

.board td {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    border: 1px solid #CCC;
    border-spacing: 0;
}